.grapher {
    flex-direction: column;
    background: linear-gradient(to bottom, #123250 0%,#235789 100%);
    position: relative;
    border-radius: 4px;
}

.grapher.numberSlider {
    max-width: 300px;
    overflow: hidden;
    
}

.grapher.numberSlider h2 {
    text-align: center;
    color:white;
}

.grapher.numberSlider p{
  color: white;
}

.grapher.numberSlider a {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.grapher.numberSlider a.left {
    left: 0;
}

.grapher.numberSlider a.right {
    right: 0;
}

.grapher.numberSlider div.slider {
    transition: 200ms;
}

/* Data entry */
.grapher.numberSlider div div {
    justify-content: center;
    flex: 1;
}

.grapher.histogram {
  width: 500px;
  height: 300px;
  background: linear-gradient(to bottom, #123250 0%,#235789 100%);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.grapher.histogram div.slider {
  /* display: flex; */
  padding: 20px;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  overflow-x: scroll;
}

.grapher.histogram:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content:'';
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
  pointer-events: none;
}

.grapher.histogram h2 {
  position: absolute;
  top: 0;
  left: 20px;
  color: #fff;
}

.grapher.histogram .bar {
  min-width: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%,rgba(255, 255, 255, 0.2) 100%); */
  /* border-top: 2px solid rgba(255, 255, 255, 0.4); */
  transition: 200ms;
  margin: 0 5px;
  animation: rise 500ms;
  transform: scale(1, 0);
  animation-fill-mode: forwards;
}

@keyframes rise {
  from {
    transform: scale(1, 0);
    transform-origin: bottom;
  }
  to {
    transform: scale(1, 1);
    transform-origin: bottom;
  }
}

.grapher.histogram .bar:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* Info box */
.grapher.histogram .bar div.barInfo {
  position: fixed;
  white-space: nowrap;
  flex-direction: column;
  pointer-events: none;
  opacity: 0;
  padding: 10px;
  left: 30px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%,rgba(255, 255, 255, 0.05) 100%);
  color: #fff;
  box-shadow: none;
  border-left: 2px solid #fff;
  transition: 0.2s;
  transition: 200ms;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
}

/* Info box top view */
.grapher.histogram .bar.top div.barInfo {
  left: 0;
  top: -70px;
  border-left: 0 solid #fff;
  border-bottom: 2px solid #fff;}

/* Info box text */
.grapher.histogram .bar div.barInfo * {
  margin: 0;
}

/* Info box on hover */
.grapher.histogram .bar:hover div.barInfo {
  opacity: 1;
}

/* Info box arrow */
.grapher.histogram .bar div.barInfo:after {
  content:'';
  position: absolute;
  top: calc(50% - 5px);
  right: 100%;
  width: 0;
  height: 0;
  border-right: solid 5px #fff;
  border-bottom: solid 5px transparent;
  border-top: solid 5px transparent;
}

/* Info box arrow up */
.grapher.histogram .bar.top div.barInfo:after {
  /* top: calc(50% - 5px); */
  top: 100%;
  left: 3px;
  border-top: solid 5px #fff;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}