.grapher {
    flex-direction: column;
    background-color: #fff;
    position: relative;
}

.grapher.numberSlider {
    max-width: 300px;
    overflow: hidden;
}

.grapher.numberSlider h2 {
    text-align: center;
}

.grapher.numberSlider a {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.grapher.numberSlider a.left {
    left: 0;
}

.grapher.numberSlider a.right {
    right: 0;
}

.grapher.numberSlider div.slider {
    transition: 200ms;
}

/* Data entry */
.grapher.numberSlider div div {
    justify-content: center;
    flex: 1;
}