body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    align-items: center;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.start .centerBox {
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 30px;
}

.start .centerBox * {
    text-align: center;
}

.start .centerBox img {
    width: 200px;
}

.start .centerBox input {
    text-align: left;
    margin-right: 4px;
}

.start .centerBox #scrollDownArrow {
    font-size: 32px;
    margin-top: 50px;
    color: rgb(97,157,207);
    animation: bounce 2s infinite;
}

.stats {
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    max-width: 960px;
}

.banner{
    width: 100%;
}
.rightGraphics{
    flex-direction: column;
    width: 300px;
}
.leftGraphics{
    max-height: 600px;
    flex: 1;
}
.leftGraphics * {
    flex: 1;
}
#searchField {
    margin: 10px 0;
}

#searchField * {
    border-radius: 3px;
}

#searchField button {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 33px;
    transition: 200ms;
    cursor: pointer;
}
#searchField button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

@keyframes bounce {
    0%   {
        transform: translateY(0px);
    }
    20%  {
        transform: translateY(7px);
    }
    50%  {
        transform: translateY(0px);
    }
    75%  {
        transform: translateY(7px);
    }
    100% {
        transform: translateY(0px);
    }
}