#results{
    flex-wrap: wrap;
    justify-content: center;
}

.searchCard{
    background-color: #fff !important;
    padding: 40px;
    width: 300px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    flex-direction: column;
    flex-wrap: wrap;
    transition: all ease-out .2s;
}

.searchCard:hover{
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,1);
    background-color: white !important;
}

a:hover{
    background-color: rgba(0, 0, 0, 0) !important;
}

a h2:hover{
    transition: all ease-out .2s;
    color: #235789;
}

.searchCard h2{
    margin-bottom: 8px;
}

.searchCard p{
    margin-top: 0;
    color: black;
}

.searchCard img{
    position: relative;
    display: block;
    margin: 0 auto;
    height: auto !important;
    align-self: center;
    max-width: 100%;
}

form{
    justify-content: center;
    width: 70%;
}

button{
    cursor: pointer;
}

input{
    width: 50%;
}