.toplists p {
    color: #393e41;
}


.toplists .container{
    margin-top: 5vh !important;
    flex-direction: column;
    margin: auto;
}

.toplists .row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.toplists button{
    width: 250px;
    margin-top: 30px;
}

.toplists .column{
    flex-direction: column;
    padding: 6px;
    border-radius: 5px;
    min-width: 300px;
}

.toplists .columnitem{
    flex-direction: column;
    background-color: #fff !important;
    padding: 40px;
    margin: 15px;
    border-radius: 5px;
    min-width: 300px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.toplists .columnitem img{
    height: auto !important;
    align-self: center;
    max-width: 100%;
}

/*Loader*/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #noshow {
    display: none;  
}


/*Text*/
 
.toplists h1{
    font-size: 36px;
    color: #fdfffc;
    margin-bottom: 10px;
    text-align: center;
}

.toplists h3{
    color: #235789;
    font-style: bold;
}

.toplists h4{
    color: #235789;
    font-style: bold;
    font-size: 55px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}