.toplists p {
    color: #393e41;
}


.toplists .container{
    margin-top: 5vh !important;
    width: 70vw;
    flex-direction: column;
    margin: auto;
}

.toplists .row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.toplists .container p{
}

.toplists .column{
    flex-direction: column;
    padding: 40px;
    max-width: 500px;
    margin: 15px;
    border-radius: 5px;
    min-width: 400px;
}

.toplists .columnitem{
    flex-direction: column;
    background-color: #fff !important;
    padding: 40px;
    max-width: 500px;
    margin: 15px;
    border-radius: 5px;
    min-width: 400px;
}


/*Text*/
 
.toplists h1{
    font-size: 36px;
    color: #fdfffc;
    margin-bottom: 10px;
}

.toplists h3{
    color: #235789;
    font-style: bold;
}

.toplists h4{
    color: #235789;
    font-style: bold;
    font-size: 55px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}