.toplists p {
    color: #393e41;
}


.toplists .container{
    margin-top: 5vh !important;
    flex-direction: column;
    margin: auto;
}

.toplists .row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.toplists button{
    width: 250px;
    margin-top: 30px;
}

.toplists .column{
    flex-direction: column;
    padding: 6px;
    border-radius: 5px;
    min-width: 300px;
}

.toplists .columnitem{
    flex-direction: column;
    background-color: #fff !important;
    padding: 40px;
    margin: 15px;
    border-radius: 5px;
    min-width: 300px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.toplists .columnitem img{
    height: auto !important;
    align-self: center;
    max-width: 100%;
}


/*Text*/
 
.toplists h1{
    font-size: 36px;
    color: #fdfffc;
    margin-bottom: 10px;
    text-align: center;
}

.toplists h3{
    color: #235789;
    font-style: bold;
}

.toplists h4{
    color: #235789;
    font-style: bold;
    font-size: 55px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}